#international{
    margin-top: 200px;
    margin-left: 20px;
}
#container-international{
    height: auto;
    width: 95% auto;
    display: flex;
}
#first-div-international{
    width: 48%;
    margin-right: 10px;
    border-right: 2px solid grey;
}
#last-div-international{
    width: 48%;
    display: grid;
    
    grid-template-columns: repeat(2, 2fr);
}

#first-sub-div-india{
    width: 100%;
    margin-left: 25px;
}
#first-sub-div-india>h3{
    width: 95%;
    font-size: 28px;
    font-family: sans-serif;
}
#first-sub-div-india>h3:hover{
    color: #e0031b;
    cursor: pointer;
}
#first-sub-div-india>p{
    width: 95%;
    font-size: 20px;
    color: rgb(71, 70, 70);
}
#first-sub-div-india>h5{
    color: #E0031B;
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: -1px;
}
#first-sub-div-india>img{
    width: 95%;
}

#last-sub-div-india{
    width: 80%;
    margin-left: 20px;
    border-bottom: 2px solid grey;
   
}
#last-sub-div-india>img{
    width: 100%;
    padding-top: 10px;
}
#last-sub-div-india>h3{
    font-size: 16px;
    font-family: sans-serif;
}
#last-sub-div-india>h3:hover{
    color: #e0031b;
    cursor: pointer;
}
#last-sub-div-india>p{
    color: rgb(71, 70, 70);
}
#last-sub-div-india>h5{
    color: #E0031B;
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: -1px;
}


#container_india_last{
    width: 85%;
    margin: auto;
}
#last-container-national{
    border-bottom: 1px solid grey;

    padding-top: 10px;
    height: 160px;
    display: flex;
    overflow: hidden;
}
#authorDiv-national{
    width: 300px;
}
#authorDiv-national>h5{
    margin-top: 15px;
    width: 100%;
    font-family: sans-serif;
    font-size: 12px;
    color: rgb(83, 82, 82);
}

#innerDiv-national{
    width: 100%;
    padding-left: 10px;
   
}
#innerDiv-national>h3{
    font-family: sans-serif;
    font-size: 18px;
}
#innerDiv-national>h3:hover{
    cursor: pointer;
    color:#E0031B;
}
#innerDiv-national>p{
    width: 98%;
    color: rgb(83, 82, 82);
    padding-top: 10px;
}
#last-container-national>img{
    width: 38%;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
}
