#container_india{
    height: auto;
    width: 95% auto;
    /* border: 1px solid black; */
    display: flex;
    margin: auto;

}

#first_div_india{
    width: 48%;
    /* border: 1px solid red; */
    margin-right: 10px;
    border-right: 2px solid grey;
}


#last_div_india{
    width: 48%;
    /* border: 1px solid green; */
    display: grid;
    
    grid-template-columns: repeat(2, 2fr);
    


}

#first-sub-div-india{
    width: 100%;
    margin-left: 25px;
}
#first-sub-div-india>h3{
    width: 95%;
    font-size: 28px;
    font-family: sans-serif;
}
#first-sub-div-india>h3:hover{
    color: #e0031b;
    cursor: pointer;
}
#first-sub-div-india>p{
    width: 95%;
    font-size: 20px;
    color: rgb(71, 70, 70);
}
#first-sub-div-india>img{
    width: 95%;
}

#last-sub-div-india{
    width: 80%;
    margin-left: 20px;
    border-bottom: 2px solid grey;
   
}
#last-sub-div-india>img{
    width: 100%;
    padding-top: 10px;
}
#last-sub-div-india>h3{
    font-size: 16px;
    font-family: sans-serif;
}
#last-sub-div-india>h3:hover{
    color: #e0031b;
    cursor: pointer;
}
#last-sub-div-india>p{
    color: rgb(71, 70, 70);
}

